<h2>¿Como funciona Learning Languages?</h2>
<h3>Encuentra el mejor profesor</h3>
<p>
  Elige entre más de 32.000 profesores en línea. Utiliza filtros para limitar tu
  búsqueda y encontrar el que mejor se ajuste a tus necesidades.
</p>
<h3>Flexibilidad de agendar clases</h3>
<p>
  Encuentra el momento perfecto que se ajuste a tu apretada agenda. Reserva
  clases en segundos a través de un ordenador o un móvil.
</p>
<h3>Acceso al aula virtual</h3>
<p>
  Cuando sea la hora de la clase, conéctate con tu profesor a través de nuestra
  plataforma de video.
</p>
<h3>Disfruta del aprendizaje estructurado</h3>
<p>
  Mantén un registro de tu progreso de aprendizaje. Mejora tu pronunciación y
  vocabulario con nuestros planes de aprendizaje.
</p>
